# XiaomiParts
set_prop(system_app, persist_lcd_prop)
allow system_app proc_nvt_feature:file rw_file_perms;

# Allow KProfiles to be adjusted by a system app
allow system_app sysfs_kprofiles:file rw_file_perms;
